@import "../com/variables";

:root {
  --text-color: #444;
  --bg-color: #fff;
}
body.dark {
  --text-color: #fff;
  --bg-color: #000;
}

// reboot
* {
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
  margin: 0;
  line-height: 1.5;
  padding-bottom: 50px;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: color 0.5s, background-color 0.5s;
}

.container {
  padding: 0 15px;
}

section {
  padding: 10px;
}

.flex {
  display: flex;
  &.align {
    align-items: center;
  }
}
